body, input, button {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #1f1f1f;
}

header {
    padding: 10px;
    text-align: right;
    height: 30px;
    border: 1px solid red
}

.top {
    display: flex;
    flex-direction: row;
}

header div img {
    height: 30px;
    border: 1px solid blue;
}

.links {
    
    height: 30px;
    border: 1px solid green;
}

header a {
    color: #1f1f1f;
    font-size: 13px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo {
    margin-top: 19px;
    margin-bottom: 19px;
    height: 90px;
}

#logo span {
    display: block;
    color: #4285F4;
    position: relative;
    left: 215px;
    bottom: 25px;
}

.search-bar {
    width: 640px;
    height: 50px;
    background: rgba(240, 240, 255, 0.9);
    border-radius: 50px;
    box-shadow: 1px 1px 8px #BBBBBB;
}

.search-bar input {
    width: 588px;
    height: 18px;
    background: transparent;
    border: 1px solid #DDDDDD;
    border-radius: 50px;
    outline: 0;
    padding: 15px 25px;
    font-size: 16px;
}

.search-bar input:hover {
    border: 0;
}

.search-button {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.search-button input {
    width: 155px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background: whitesmoke;
    cursor: pointer;
}

.search-button input:hover {
    border: 1px solid lightgray;
}

.search-button input:active {
    border: 1px solid #4285F4;
}
